
.about-us-section {
  padding: 80px 0;
  background-color: #fbfafa;
  letter-spacing:1px;
  word-spacing: 4px;
  text-align: center;
 
  background-image: url(Mekanika_logo.png);
  z-index: -1;
  opacity: 0.9;
}

.section-heading h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(75, 2, 88);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  max-width: 100%;
}

.text {
  max-width: 550px;
  text-align: center;
  margin-top: 20px;

}

.text p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fcfafa;
  font-weight: bold;
  font-family: 'Protest Revolution', sans-serif;
}

.image img {
  max-width: 80%;
  height: 100%;
  box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 10px;
  filter: brightness(90%);
  filter: contrast(150%);
  cursor: pointer;
}
.image img :hover{
  filter: brightness(100%);
  filter: contrast(180%);
  transition-duration: 0.5s;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .image img {
    margin-top: 0;
  }
}

@media (max-width: 444px) {
  .about-us-section {
    max-width: 100%;
  }
  .text p {
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

