

.copyright {
   background-color: rgb(45, 42, 42); 
    color: #0e0909; /* Text color */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: rgb(131, 130, 130);
  }
  
  .copyright p {
    margin: 0;
  }
  