

.copyright {
   background-color: rgb(198, 197, 197); 
    color: #0e0909; /* Text color */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }
  
  .copyright p {
    margin: 0;
  }
  