.course-material-section {
  padding: 0px 0;
  text-align: center;
  max-width: 100%;
  height: 500px;
  font-family: 'Roboto', sans-serif;
}
.course-material-section {
  background-image: url(https://scontent-bom2-1.xx.fbcdn.net/v/t39.30808-6/305211864_485413496931465_4855000598672877199_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=kCc_RULwwe8AX8lGFsD&_nc_ht=scontent-bom2-1.xx&oh=00_AfAr40nMb35RAHVpayXO1sRM4Jf2-GNt6dzgG3cAsNf6Tw&oe=65C4AF58);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(75, 2, 88);
}

.course-materials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-material-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #b8ccd1;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.course-material-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 800px){
  .course-material-section {
    height:100%;
  }
  
}
@media (max-width: 420px){
  .course-material-section {
    height:800px;
  }
  
}