.footer {
  background-color: rgb(32, 31, 31);
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  justify-content:space-around;
  align-items: center;
  text-decoration: none;
  max-width: 100%;
  color: rgb(190, 189, 189);
}

.footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-decoration: solid;
  list-style: none; 
 
}
.footer li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(190, 189, 189);

}
.footer li a:hover {
  text-decoration: none;
  color: rgb(236, 215, 25);

}
.footer-navigation ul li a {
  text-decoration: none;
}
.footer-navigation ul li a:hover{
  color: rgb(248, 236, 3);
}

#logoo img{
  margin-top: 20px;

}
.Footerlogo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: rgb(190, 189, 189);
  text-shadow: 2px 2px 2px  black;  

}

.Footerlogo img {
  width: 60px; 
  height: 60px; 
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;

}
.Footerlogo h1 {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  }
.contact-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0 ;
  cursor: pointer;
 display: flex;
 padding-top: 0px;
 font-size: 1.2rem;
}
.contact-info h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.instiname{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1rem ;
  margin-top: 0px;
  color: rgb(190, 189, 189)}

.social-links a {
  /* display: flex; */
  justify-content: center;
  padding-left: 2px;
  /* align-items: column; */
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
  margin: 0.7rem;
  font-size: 1.5rem;
  color: rgb(190, 189, 189);
  transition: transform 2s ease-in-out ;
}

.social-links a :hover{
  transform: translateY(-3px);
  
}
.social-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(190, 189, 189);
  margin: 0rem;

}
.social-links a :hover{
  color: rgb(255, 242, 0);
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
  
  }
}
@media(max-width :595px) {
  .instiname,
  #log img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
  }
  }

  .footer-navigation {
    text-align: center;
  }
  
  
  .Quicklinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Quicklinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Quicklinks ul li {
    margin-bottom: 5px;
  }
  