.footer {
  background-color: rgb(194, 182, 205);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.footer li {
  text-decoration: none;
  text-decoration: solid;
  list-style: none; 
}
.footer li a {
  text-decoration: none;
  color: rgb(14, 15, 15);

}
.footer-navigation ul li a {
  text-decoration: none;
}
.footer-navigation ul li a:hover{
  color: rgb(248, 3, 3);
}

.contact-info p {
  margin: 0.5rem 0;
  cursor: pointer;
}

.social-links a {
  text-decoration: none;
  color: #333;
  margin-right: 1rem;
  font-size: 1.5rem;

}
.social-links a :hover{
  color: coral;
}
@media (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
}