.footer {
  background-color: rgb(136, 135, 135);
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  max-width: 100%;
}
.footer::before{
  opacity: 0.9;
}
.footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-decoration: solid;
  list-style: none; 
}
.footer li a {
  text-decoration: none;
  color: rgb(8, 8, 8);

}
.footer li a:hover {
  text-decoration: none;
  color: orangered;

}
.footer-navigation ul li a {
  text-decoration: none;
}
.footer-navigation ul li a:hover{
  color: rgb(248, 3, 3);
}

.contact-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 ;
  cursor: pointer;
 display: flex;
}

.social-links a {
  
  text-decoration: none;
  color: #333;
  margin: 0.8rem;
  font-size: 1.5rem;

}
.social-links a :hover{
  color: coral;
}
@media (max-width: 800px) {
  .footer {
    flex-direction: column;
  
  }
}
/* @media (max-width: 600px) {
  .footer {
    /* overflow-x: hidden; */
    /* max-width: 600px; */
  /* }
/* } */ 

    
