.go-to-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color:rgb(75, 2, 88);
    color: #efeaea;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius:10%;
    display: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .go-to-top-button.show {
    display: block;
    opacity: 0.5;
  }
  
  .go-to-top-button:focus {
    outline: none;
  }
  