
.header {
  background-color: rgb(2, 2, 2);
  color: #c6c2c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 1rem 2rem;
  top: 0;
  z-index: 10000;
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-shadow: 2px 2px 2px black;
}

.logo img {
  width: 40px; /* Reduced size */
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 1px;
}

.nav li {
  margin-right: 1.4rem;
}

.nav a {
  text-decoration: none;
  color: #dedbdb;
  font-size: 1.2rem;
  transition: color 0.5s ease-in-out;
}

.nav a:hover {
  color: #ef6c00; /* Change to gold */
}

@media screen and (max-width: 768px) {
  .logo {
    display: none; /* Hide logo on small screens */
  }
  .nav a {
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
    padding: 0px;
  }
  .nav li {
    margin-right: 1.1rem;
    padding: 0px;
  }
  .menu-icon {
    display: block;
    order: 1;
    font-size: 2.2rem;
    cursor: pointer;
  }
}
