.home-section   {
    text-align: center;
    padding: 1px 0;
    max-width: 100%;
    position: relative;
    background-image: url('./Mekanika_logo.png') no-repeat center center fixed;
    background-size: cover;
  

  }
  .about-us-section {
    background-size: cover;
  }
  .home-section,
.about-us-section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-section::before,
.about-us-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0); 
  z-index: -1;
}

  .home-section {
    position: relative;
  }


  .home-section {
    position: relative;
  }
  
  .home-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0); 
    z-index: -1;
  }

  .home-section h2,
  .home-section p {
    color: rgb(12, 0, 0);
    position: relative;
    z-index: 1;
  }
  
  .about-us-section {
    position: relative;
  }
  
  .about-us-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0); /* Adjust the opacity as needed */
    z-index: -1;
  }
  
 
  .about-us-section h2,
  .about-us-section p {
    color: white; 
    position: relative;
    z-index: 1;
  }

  .home-section {
    position: relative;
    font-family: 'Nova Mono', monospace;
    
  }
  
  .about-us-section {
    position: relative;
   
  }
 
 
  .background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
  }
  
  
  
  
  .image-container {
    position: relative;
    max-width: 100%; 
    height: 70vh; 
    margin:  auto;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgb(24, 24, 24);
    width: 100%; 
    object-fit: cover;

  }
  
  .image-container img {
   width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
 
  .image-container:hover img {
    transform: scale(1.1);
  }
  
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }
  
  .overlay-text {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .overlay-subtext {
    font-size: 24px;
  }




.mekanika-title {
  font-family: 'Your-Premium-Font-Here', sans-serif; 
  font-size: 100px; 
 
  color: #1a1717; 
  white-space: nowrap; 
  overflow: hidden; 
}
 h2 span{
  font-family: 'Playfair Display SC', serif; 
  font-size: 50px; 
  font-size: 3.3rem;
  text-shadow: 2px 2px 2px  black;
  color: #ff0000; 
  white-space: nowrap; 
  overflow: hidden; 

  
}


.mekanika-title span {
  display: inline-block;
  opacity: 0;
  animation: mekanikaAnimation 8s linear infinite; 
  animation-delay: calc(0.5s * var(--index)); 
}


@keyframes mekanikaAnimation {
  0%, 100% {
    opacity: 0; 
    transform: translateX(100%); 
  }
  50% {
    opacity: 1; 
    transform: translateX(0%); 
  }
}


.mekanika-title span:nth-child(1) {
  --index: 1;
}

.mekanika-title span:nth-child(2) {
  --index: 2;
}

.mekanika-title span:nth-child(3) {
  --index: 3;
}

.mekanika-title span:nth-child(4) {
  --index: 4;
}

.mekanika-title span:nth-child(5) {
  --index: 5;
}

.mekanika-title span:nth-child(6) {
  --index: 6;
}

.mekanika-title span:nth-child(7) {
  --index: 7;
}

.mekanika-title span:nth-child(8) {
  --index: 8;
}


@media (max-width: 700px) {
    .home-image {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }
    .image-container {
    
      height: 220px; 
   
    }
}
@media (max-width: 850px) {
    .home-image {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }
    .image-container {
    
      height: 320px; 
   
    }
}
@media (max-width: 450px){
  .home-image {
    max-width: 100%;
    height: 150px;
  }
  h2 span{
    font-size: 2.5rem; 
  }
}



.image-container {
  position: relative;
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: white;
  z-index: 1;
  opacity: 0.7;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
