.project-card:hover{
  width: 100%;
  max-width: 350px;
  background-color: #121212;
  border: 1px solid #4f571c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(249, 241, 23);
}
.projects-section {
  padding: 40px 0;
  background-color: #1b1b19;
  color: #ffffff;
  padding-top: 105px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-grid-item {
  display: flex;
  justify-content: center;
}

.project-card {
  width: 100%;
  max-width: 350px;
  background-color: #1d1d1d;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, background 0.3s;
}

.project-card:hover {
  color: black;
  font-weight: 800;
  background: linear-gradient(135deg, #dbda74 0%, #1d1d1d 100%);
  transform: scale(1.05);
}

.project-card strong {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

.project-card a {
  color: #b5d535;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

.MuiAutocomplete-root .MuiOutlinedInput-root {
  transition: border-color 0.3s;
}

.MuiAutocomplete-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: linear-gradient(135deg, #dbda74 0%, #1d1d1d 100%);
  background: transparent;
  border-radius: 4px;
  text-shadow: black;
}

