/* Global Variables */
html {
  --primary-color: "#64FFDA";
  scroll-behavior: smooth;
}

/* Custom Scrollbar for Webkit Browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Rounded corners for the thumb */
  background: linear-gradient(45deg, gold, orange); /* Gradient color for the thumb */
  border: 2px solid #0f0e0e; /* Adds padding effect */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow for better visibility */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Makes scrollbar thinner */
  scrollbar-color: rgba(255, 217, 2, 0.482) rgba(0, 0, 0, 0.9); /* Thumb and track color */
}

/* Body */
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Selection Highlight */
::selection {
  background-color: #fdd5096b; /* Highlight color */
}

html {
  touch-action: manipulation; /* Disables double-tap to zoom */
  overscroll-behavior: none;
}

body {
  user-select: none; /* Disables text selection */
  touch-action: pan-x pan-y; /* Disables pinch zoom */
}
