.App {
  text-align: center;
  max-width: 100%;
}
body{
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  font-family: 'Comfortaa', cursive;
font-family: 'Open Sans', sans-serif;
max-width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @media (max-width: 400px){
body{
  width: 100%;
} */

@media (max-width: 440px) {
  body{
    max-width: 100%;
    height: auto;
    /* margin-top: 20px; */
  }
}
/* @media (max-width: 1160px){
  body{
    width:100rem;
  }
} */
/* @media (max-width: 440px ){
  body{
   max-width: 100%;

  }
} */
