html {
  --primary-color: "#64FFDA";
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; 
  background: linear-gradient(45deg, gold, orange); 
  border: 2px solid #0f0e0e; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px; 
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 217, 2, 0.482) rgba(0, 0, 0, 0.9);
}

body {
  overflow-x: hidden; 
}

::selection {
  background-color: #fdd5096b; 
}

html {
  touch-action: manipulation; 
  overscroll-behavior: none;
}

body {
  user-select: none; 
  touch-action: pan-x pan-y; 
}
