.course-material-section { 
  /* padding: 20px;
 
  background-size: cover;
  background-position: center;
  overflow: hidden; */
  /* position: relative; */
  
}

.course-material-section .container {
  max-width: 100%;
  margin-top: 85px;
  opacity: 0.9;
}



.course-material-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .semester-accordion .accordion-content {
    max-height: none;
    overflow: visible;
  }
}


.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(75, 2, 88);
}

.course-materials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-material-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #333636;
  border-radius: 8px;
  text-decoration: none;
  color: gold;
  font-weight: 400;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.course-material-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.9);
  color: rgb(250, 219, 44);
  font-weight: 600;
  background-color: #272727;
}

@media (max-width: 800px) {
  .course-material-section {
    height: auto;
  }
}

@media (max-width: 420px) {
  .course-material-section {
    height: auto;
  }
}

.course-material-section {
  padding: 20px;
 
  /* background-size: cover;
  background-position: center;
  overflow: hidden; */
  /* position: relative;

  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
  opacity: 0.9; */
}

.course-material-section .container {
  max-width: 100%;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(75, 2, 88);
}

.semester-accordion {
  margin-bottom: 15px;
  opacity: 1;
}

.semester-accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-input {
  display: none;
}

.accordion-label {
  display: flex;
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
  /* background: linear-gradient(135deg, #3d3e3e 0%, #101111 100%); */
  color: #222;
  padding: 15px 15px;
  border-radius: 8px;
  font-size: 18px;
  color:gold ;
  transition: background-color 0.5s ease;
text-transform: uppercase;
  
}

.accordion-label:hover {
  /* background: linear-gradient(135deg, rgb(222, 189, 2) 0%, rgb(61, 52, 4) 100%); */
  color: #1c1c1c;
}

.accordion-content {
  max-height: 500px;
  overflow-y: auto; 
  padding: 10px 200px; 
  
}

.accordion-input:checked + .accordion-label + .accordion-content {
  max-height: 1000px; 
}




@media (min-width: 992px) {
  .semester-accordion {
    display: flex;
  }
  
  .semester-accordion .accordion-label {
    flex: 1;
  }
  
  .semester-accordion .accordion-content {
    flex: 3;
  }
  .accordion-label{
    width: 400px;
  }
}


@media screen and (max-width: 438px) {
  
  
.course-material-card {
  width : 280px;
  width: calc(100% - 10px); 
}
.accordion-content {
  padding: 10px 0px; 
}

}
.accordion-content {
  max-height: 500px;
  overflow-y: auto;
  margin : 0px; 
  padding: 0px;
 
}

.course-material-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-weight: 400;
  /* transition: transform 1s, box-shadow 0.2s, background-color 1s, color 1s; */
  width: calc(100% - 40px); 
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px rgba(214, 186, 8, 0.993);
  text-align: center 
  
}

.course-material-card:hover {
  transform: translateY(-3px);
  color: #222;
}